<app-nav></app-nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Informacion del cliente</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="clientenombre">Nombre:</label>
                          <input type="text" class="form-control" id="clientenombre" name="clientenombre" [(ngModel)]="orden.cliente.clientenombre!" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="clienteapellidopaterno">Apellido Paterno:</label>
                          <input type="text" class="form-control" id="clienteapellidopaterno" name="clienteapellidopaterno" [(ngModel)]="orden.cliente.clienteapellidopaterno!" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="clienteapellidomaterno">Apellido Materno:</label>
                          <input type="text" class="form-control" id="clienteapellidomaterno" name="clienteapellidomaterno" [(ngModel)]="orden.cliente.clienteapellidomaterno!" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                          <label for="clienteedad">Edad:</label>
                          <input type="number" class="form-control" id="clienteedad" name="clienteedad" [(ngModel)]="orden.cliente.clienteedad!" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="clientetelefono">Teléfono:</label>
                          <input type="tel" class="form-control" id="clientetelefono" name="clientetelefono" [(ngModel)]="orden.cliente.clientetelefono!" disabled>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                          <label for="clientedireccion">Dirección:</label>
                          <input type="text" class="form-control" id="clientedireccion" name="clientedireccion" [(ngModel)]="orden.cliente.clientedireccion!" disabled>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Lista Estudios</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table datatable [dtOptions]="dtOptions" class="display"></table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Detalles del pago</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pagoimporte">Importe</label>
                        <input type="text" class="form-control" id="pagoimporte" name="pagoimporte" [(ngModel)]="pago.pagoimporte" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pagoimporte">Descuento</label>
                        <input type="text" class="form-control" id="pagoimporte" name="pagoimporte" value="{{pago.pagoimporte-pago.pagoimportetotal}}" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pagoiva">IVA</label>
                        <input type="text" class="form-control" id="pagoiva" name="pagoiva" [(ngModel)]="pago.pagoiva" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="pagoimportetotal">Pago Total</label>
                        <input type="text" class="form-control" id="pagoimportetotal" name="pagoimportetotal" [(ngModel)]="pago.pagoimportetotal" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="pago.pagoestatusid=='PEN'">
        <div class="col-md-12 text-center">
            <div class="shadow-lg rounded bg-body p-3 mb-5 mt-5 text-dark fw-bold text-center">
                <h3>PARCIALMENTE PAGADO</h3>
                <br>FECHA ULTIMO ABONO {{pago.pagofechamodificacion}}
                <br>IMPORTE ABONADO $ {{pagoimportepagado}}
                <br>IMPORTE PENDIENTE $ {{pagoimportependiente}}
            </div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="omitirProcesoPago">
        <div class="col-md-12 text-center">
            <div class="shadow-lg rounded bg-body p-3 mb-5 mt-5 text-dark fw-bold text-center">PAGADO<br>{{pago.pagofechamodificacion}}</div>
        </div>
    </div>
    <div class="row" *ngIf="!omitirProcesoPago">
        <div class="col-md-4 text-center">
            <h3>Agregar Pago</h3>
            <div class="row">
                <div class="col-md-12">
                    <label for="pagodetalleimporte">Importe</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="pagodetalleimporte" name="pagodetalleimporte" [(ngModel)]="intpagodetalle.pagodetalleimporte">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="formapagoid">Forma Pago</label>
                        <select class="form-control" id="formapagoid" name="formapagoid" [(ngModel)]="intpagodetalle.formapagoid">
                            <option value="">Seleccionar</option>
                            <option *ngFor="let formapago of listaFormasPago" [ngValue]="formapago.formapagoid">
                                {{formapago.formapagonombre}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary m-3" (click)="AgregarPagoDetalle()" [disabled]="omitirProcesoPago">Agregar Pago</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <span class=" text-center"><h3>Detalle del pago</h3></span>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Forma Pago</th>
                        <th>Importe</th>
                        <th>Estatus</th>
                        <th>Fecha</th>
                        <th>---</th>
                    </tr>
                </thead>
                <tbody *ngFor="let det of listaIntpagodetalle">
                    <tr>
                        <td>{{det.formapagoid}}</td>
                        <td>{{det.pagodetalleimporte}}</td>
                        <td>{{det.pagodetalleid>0 ? "Aplicado" : "Nuevo"}}</td>
                        <td>{{det.pagodetallefechacreacion | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td><button class="btn btn-danger" (click)="eliminarDetalle(det.pagodetallefechacreacion)" [disabled]="det.pagodetalleid>0"><i class="fa-regular fa-trash-can"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div class="shadow-lg rounded bg-body p-3 mb-5 mt-5 text-dark fw-bold text-center">$ {{getTotal()}}</div>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="!omitirProcesoPago">
        <div class="col-md-12 text-center">
            <button class="btn btn-success btn-lg m-3" (click)="guardarPago()">Guardar</button>
            <a class="btn btn-danger btn-lg m-3" routerLink="/ordenes">Cerrar</a>
        </div>
    </div>
    <hr>
</div>
<br>
<br>