<br>
<div class="card" style="width: auto;">
  <div class="card-body">
    <div class="row">
        <div class="col-md-12 text-center">
          <h3 class="card-title">Detalle de la orden</h3>
        </div>
    </div>
    <form (ngSubmit)="PagarOrden()">
      <div class="row">
          <div class="col-md-5">
              <div class="form-group">
                <label for="ordennombre">Nombre:</label>
                <input class="line" type="text" id="ordennombre" name="ordennombre" [(ngModel)]="orden.ordennombre" disabled>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                <label for="ordenedad">Edad:</label>
                <input class="line" type="number" id="ordenedad" name="ordenedad" [(ngModel)]="orden.ordenedad" disabled>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                <label for="ordensexo">Sexo:</label>
                <input class="line" type="text" id="ordensexo" name="ordensexo" [(ngModel)]="orden.ordensexo" disabled>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label for="ordentelefono">Teléfono:</label>
                <input class="line" type="text" id="ordentelefono" name="ordentelefono" [(ngModel)]="orden.ordentelefono" disabled>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group">
              <label for="ordendireccion">Dirección:</label>
              <input class="line" type="text" id="ordendireccion" name="ordendireccion" [(ngModel)]="orden.ordendireccion" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="ordenformaentrega">Forma de Entrega:</label>
              <input class="line" type="text" id="ordenformaentrega" name="ordenformaentrega" [(ngModel)]="orden.ordenformaentrega" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <label for="doctornombre">Doctor:</label>
              <input class="line" type="text" id="doctornombre" name="doctornombre" [(ngModel)]="orden.doctor.doctornombre" disabled>
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="form-group">
                <label for="ordenorigen">De donde proviene el paciente:</label>
                <input class="line" type="text" id="ordenorigen" name="ordenorigen" [(ngModel)]="orden.ordenorigen" disabled>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label for="ordencomoubico">Como nos ubico:</label>
                  <input class="line" type="text" id="ordencomoubico" name="ordencomoubico" [(ngModel)]="orden.ordencomoubico" disabled>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                <label for="ordenfechacreacion">Fecha de Creación:</label>
                <input class="line" type="text" id="ordenfechacreacion" name="ordenfechacreacion" [(ngModel)]="orden.ordenfechacreacion" disabled>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="ordencomentarios">Comentarios de la Orden:</label><br>
                <textarea class="line_textarea" id="ordencomentarios" name="ordencomentarios" [(ngModel)]="orden.ordencomentarios" disabled></textarea>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="ordendatosclinicos">Orden Datos Clinicos:</label>
                  <textarea class="line_textarea" type="text" id="ordendatosclinicos" name="ordendatosclinicos" [(ngModel)]="orden.ordendatosclinicos" disabled></textarea>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label for="ordenimporte">Importe de la Orden:</label>
                <input class="line" type="number" id="ordenimporte" name="ordenimporte" [(ngModel)]="orden.ordenimporte" disabled>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label for="ordenimportedescuento">Descuento</label>
                <input class="line" type="number" id="ordenimportedescuento" name="ordenimportedescuento" [(ngModel)]="orden.ordenimportedescuento" disabled>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label for="ordenimporteiva">Importe IVA:</label>
                <input class="line" type="number" id="ordenimporteiva" name="ordenimporteiva" [(ngModel)]="orden.ordenimporteiva" disabled>
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
                <label for="ordenimportetotal">Importe Total:</label>
                <input class="line" type="number" id="ordenimportetotal" name="ordenimportetotal" [(ngModel)]="orden.ordenimportetotal" disabled>
              </div>
          </div>
      </div>
      <!-- <div class="row">
          <div class="col-md-3">
              <div class="form-group">
                <label for="ordenimporteotrocobro">Importe Otro Cobro:</label>
                <input class="line" type="number" id="ordenimporteotrocobro" name="ordenimporteotrocobro" (change)="actualizaCostos($event, 0)" [(ngModel)]="orden.ordenimporteotrocobro">
              </div>
          </div>
          <div class="col-md-3">
              <div class="form-group">
              <label for="ordenimportemaquila">Orden Importe Maquila:</label>
              <input class="line" type="number" id="ordenimportemaquila" name="ordenimportemaquila" (change)="actualizaCostos($event, 0)" [(ngModel)]="orden.ordenimportemaquila">
            </div>
          </div>
      </div> -->
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Lista de estudios</h3>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Estudio</th>
                <th>Costo</th>
                <th>Descuento(%)</th>
                <th>Importe Descuento</th>
                <th>Costo Final</th>
              </tr>
            </thead>
            <tbody *ngFor="let detalle of orden.ordenesdetalle">
              <tr>
                <td>{{detalle.estudionombre}}</td>
                <td>{{detalle.ordendetallecosto}}</td>
                <td><input type="text" id="ordendetalledescuento" value="{{detalle.ordendetalledescuento}}" (change)="actualizaCostos($event, detalle)" [disabled]="pago"></td>
                <td><input type="text" id="ordendetalleimportedescuento" value="{{detalle.ordendetalleimportedescuento}}" disabled></td>
                <td><input type="text" id="ordendetallecostofinal" value="{{detalle.ordendetallecostofinal}}" disabled></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <div class="row" *ngIf="pago && pago.pagoestatusid==='PAG'">
        <div class="col-md-12 text-center">
          <h3>Orden Pagada</h3>
          <h4>{{pago.pagofechamodificacion}}</h4>
        </div>
      </div>
      <div class="row" *ngIf="!pago || pago.pagoestatusid==='PEN'">
        <div class="col-md-12 text-center">
          <input class="btn btn-success" type="submit" value="Pagar Orden">
        </div>
      </div>
    </form>
  </div>
</div>