<app-nav></app-nav>
<div class="container">
    <div class="row">
        <h2>Lista de estudios</h2>
        <div class="col-md-12">
            <app-detalle-estudio 
                *ngIf="estudioSeleccionado" 
                [estudio]="estudioSeleccionado"
                (updEstudiosEmitter)="updateEstudio($event)"
                (closeEmitter)="closeDetalle()">
            </app-detalle-estudio>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
        </div>
    </div>
</div>