<app-nav></app-nav>
<p>estudios works!</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Fecha</th>
            <th>Nº Estudios</th>
            <th>Importe Final</th>
            <th>---</th>
        </tr>
    </thead>
    <tbody *ngFor="let orden of listaOrdenes">
        <tr>
            <td>{{orden.ordennombre}}</td>
            <td>{{orden.ordenfechacreacion}}</td>
            <td>0</td>
            <td>{{orden.ordenimportetotal}}</td>
            <td>boton</td>
        </tr>
    </tbody>
</table>