.message_row{
    border-left: 0.7rem solid #0000ff;
    background: #0000ff15;
    /* top right bottom left */
    padding: 1rem 1rem 1rem 3rem;
    margin: 1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
}

.message_row:hover {
  background-color: #0000ff60;
  cursor: pointer;
}

.container_message{
  height: 80vh;
  width: 100%;
  overflow-y: auto;
}

.message_show{
  width: 100%;
  padding: 5rem;
  background: #0c223815;
  border: solid #0c2238;
  border-radius: 30px;
  text-align: center;
}

.message_title{
  font-size: 18px;
  font-weight: bold;
}

.message_body{
  font-size: 12px;
}

.message_date{
  font-size: 12px;
}