<app-nav></app-nav>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>Alta de Compra</h3>
            <form (ngSubmit)="guardarCompra()">
                <div class="form-group">
                    <label for="proveedorid">Proveedor</label>
                    <select class="form-control" id="proveedorid" name="proveedorid" required>
                        <option value="-1">Selecciona un proveedor</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="compranumeroarticulos">Nº Articulos</label>
                    <input type="text" class="form-control" id="compranumeroarticulos" name="compranumeroarticulos" required>
                </div>
                <div class="form-group">
                    <label for="compraimporteneto">Importe Neto</label>
                    <input type="text" class="form-control" id="compraimporteneto" name="compraimporteneto" required>
                </div>
                <div class="form-group">
                    <label for="compraimporteiva">IVA</label>
                    <input type="text" class="form-control" id="compraimporteiva" name="compraimporteiva" required>
                </div>
                <div class="form-group">
                    <label for="compraimportetotal">Compra Total</label>
                    <input type="text" class="form-control" id="compraimportetotal" name="compraimportetotal" required>
                </div>
                <button class="btn btn-success btn-lg" type="submit">Guardar</button>
            </form>
        </div>
        <div class="col-md-8">
            <h3>Lista Compras</h3>
            <div class="row">
                <div class="col-md-12">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table>
                </div>
            </div>
        </div>
    </div>
</div>
