<div class="text-center">
    <h1>
        Perfil
    </h1>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <h4>Informacion Personal</h4>
    </div>
</div>
<br>
<form>
    <div class="row">
        <div class="col-md-4">
            <label for="doctornombre" class="form-label">Nombre del doctor</label>
            <input type="text" class="form-control" id="doctornombre" name="doctornombre" required>
        </div>
        <div class="col-md-4">
            <label for="doctorapellidopaterno" class="form-label">Apellido paterno del doctor</label>
            <input type="text" class="form-control" id="doctorapellidopaterno" name="doctorapellidopaterno" required>
        </div>
        <div class="col-md-4">
            <label for="doctorapellidomaterno" class="form-label">Apellido materno del doctor</label>
            <input type="text" class="form-control" id="doctorapellidomaterno" name="doctorapellidomaterno" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="doctorcedula" class="form-label">Cédula del doctor</label>
            <input type="text" class="form-control" id="doctorcedula" name="doctorcedula" required>
        </div>
        <div class="col-md-4">
            <label for="doctortitulo" class="form-label">Título del doctor</label>
            <input type="text" class="form-control" id="doctortitulo" name="doctortitulo" required>
        </div>
        <div class="col-md-4">
            <label for="doctorfechamodificacion" class="form-label">Fecha de modificación</label>
            <input type="date" class="form-control" id="doctorfechamodificacion" name="doctorfechamodificacion"
                disabled>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center p-3">
            <button type="submit" class="btn btn-success btn-lg m-2">Guardar</button>
            <button type="submit" class="btn btn-primary btn-lg m-2" (click)="cambiarpassword=true">Cambiar Contraseña</button>
        </div>
    </div>
</form>
<div class="row" *ngIf="cambiarpassword">
    <hr>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2>Cambiar contraseña</h2>
                <form>
                    <div class="form-group">
                        <label for="current-password">Contraseña actual</label>
                        <input type="password" class="form-control" id="current-password"
                            placeholder="Ingrese su contraseña actual">
                    </div>
                    <div class="form-group">
                        <label for="new-password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="new-password"
                            placeholder="Ingrese su nueva contraseña">
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Confirmar contraseña</label>
                        <input type="password" class="form-control" id="confirm-password"
                            placeholder="Confirme su nueva contraseña">
                    </div>
                    <div class="control-group p-3 text-center">
                        <button type="submit" class="btn btn-success m-2">Cambiar contraseña</button>
                        <button type="submit" class="btn btn-danger m-2" (click)="cambiarpassword=false">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>