<div class="text-center">
    <h1>
        Pacientes
    </h1>
</div>
<br>
<div *ngIf="ShowView==='LISTA'">
    <div class="row">
        <div class="col-md-12 text-end">
            <button class="btn btn-success" (click)="agregarPaciente()">Agregar Paciente</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table id="table_pacientes" datatable [dtOptions]="dtOptions" class="row-border hover"></table>
        </div>
    </div>
</div>
<div *ngIf="ShowView==='DETALLE'">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Detalle del paciente</h3>
        </div>
    </div>
    <div class="row">
        <app-ma-viewpaciente [paciente]="pacienteShow" [doctor]="doctorinfo"></app-ma-viewpaciente>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-success" (click)="showView('LISTA')">Regresar</button>
        </div>
    </div>
</div>
<div *ngIf="ShowView==='AGREGAR'">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>Agregar Paciente</h3>
        </div>
    </div>
    <div class="row">
        <app-ma-altapaciente [paciente]="pacienteShow" [doctor]="doctorinfo"></app-ma-altapaciente>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <button class="btn btn-success" (click)="showView('LISTA')">Regresar</button>
        </div>
    </div>
    <br>
</div>